* {
    padding: 0;
    margin: 0;
    background-color: #f8fafc;
    color: #1e293b;
}

html {
    scroll-behavior: smooth;
}

:root {
    --highlights: #10b981;
}

/* header */
header {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    cursor: pointer;
    font-weight: 400;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text {
    position: relative;
    z-index: 2;
    color: #000;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: #011AFF;
    font-weight: 200;
    position: relative;
}

header a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

a:hover::after {
    width: 100%;
}

/* 1st section */
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.right img {
    max-width: 200px;
    height: auto;
}

.left p {
    font-size: 28px;
    padding-bottom: 10px;
}

#typing {
    display: inline-block;
    min-width: 250px;
}

/* 3rd Section */

#about {
    padding: 50px;
    margin: 20px;
}

#about dt {
    color: var(--highlights);
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

#about dd {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
    word-spacing: 0.1em;
    font-family: sans-serif;
    font-size: 20px;
}

#about a {
    margin: 20px;
    text-align: center;
    display: inline-block;
    transform: translate(500px);
    text-decoration: none;
    font-size: 20px;
    color: white;
    background: #0077ff;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.3s ease;
    display: inline-block;
}

#about a:hover {
    background: #0056b3;
}
